    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
      @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/roboto/Roboto-Regular.ttf);
      }
    }

    @layer base {
      @font-face {
        font-family: "SignPainter";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/signPainter/signpainter_housescript.otf);
      }
    }

    .translate-x-neg-full {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }

    .translate-x-0 {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }

    .transition-transform {
      transition: transform 1s !important;
      -webkit-transition: transform 1s !important;
      -moz-transition: transform 1s !important;
      -ms-transition: transform 1s !important;
      -o-transition: transform 1s !important;
    }